.root {
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 35px 30px;
  width: 100%;
  max-width: 390px;
  margin: 80px auto 0;
}

.check {
  margin-bottom: 25px;
}
